*,
::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #172b4d;
  }

  .recent--work--title img,
  .contact--ul--section,
  .contact--section,
  .contact--section--icons,
  .mail,
  .humburger,
  .logo {
    display: none;
  }

  .header--section {
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    background: #fff;
    justify-content: center;
    padding: 10px 24px;
  }

  .nav-menu {
    display: flex;
    gap: 24px;
    padding: 10px 24px;
  }

  .nav-link a:hover {
    background-color: rgb(235, 250, 237);
    border: none;
    border-radius: 4px;
    color: #049c5d;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .btn {
    padding: 0 11px;
    font-size: 16px;
    line-height: 16px;
    width: auto;
    height: 32px;
    font-weight: bold;
    border: none;
    color: #3a4a42;
    background: #ebecf0;
    border-radius: 4px;
  }

  .btn--frame {
    padding: 0 11px;
    font-size: 16px;
    line-height: 16px;
    background-color: #fff;
    color: #36b37e;
    width: auto;
    height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
  }

  h1 {
    font-size: 48px;
    text-align: center;
    line-height: 52px;
    margin: 0;
  }

  .main--section {
    display: flex;
    width: 100%;
    height: 1220px;
    background: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    background-image: url(./assets/back-img/Header-llustration-desktop@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .arrow--icons {
    margin-top: 90px;
    padding: 0;
  }

  .section--title {
    margin-top: 160px;
  }

  .section--title h1,
  .recent--work--title h1,
  .about-title h1 {
    margin: 0;
    color: #172b4d;
    font-family: 'Inter', sans-serif;
    text-align: center;
    letter-spacing: 0.37px;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
  }

  .paragraphe {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    width: 920px;
    line-height: 32px;
    padding: 0;
    margin: 0 954px;
  }

  .paragraphe p {
    text-align: center;
    justify-content: center;
    padding: 12px;
    margin: 24px;
  }

  .social--icons li {
    padding-top: 58px;
    margin-right: 20px;
    width: 19px;
    height: 20px;
  }

  .main--works--section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    grid-auto-rows: 474px;
    height: auto;
    text-align: center;
    padding: 0 750px;
    padding-top: 24px;
    margin-top: 90px;
  }

  .main--frames--section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    grid-auto-rows: 470px;
    text-align: center;
    margin: 0;
    padding: 20px 750px;
    padding-top: 24px;
  }

  .card--section {
    margin-right: 100px;
    width: 100%;
    height: 100%;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .intro--section {
    text-align: center;
    justify-content: center;
    padding-bottom: 63px;
    margin: 0;
    width: 100%;
  }

  .about-title {
    margin: 0;
    padding-top: 192px;
  }

  .recent--work--section,
  .about--me--section {
    padding: 0;
    margin: 0;
  }

  .about--me--section {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    background: none;
    background-image:
      url(./assets/back-img/illustration-left-about-me-2-desktop@2x.png),
      url(./assets/back-img/illustration-right-about\ me-1-desktop@2x.png);
    background-position: left 27%, right 3%;
    background-size: 11%;
    background-repeat: no-repeat;
  }

  .frame--work--section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #d0d9d4;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .contact--intro {
    margin-right: 20px;
    padding: 0;
  }

  .contact--intro h1 {
    padding: 0;
    margin-top: 125px;
    color: #172b4d;
    font-size: 30px;
    line-height: 52px;
    font-weight: bold;
    width: 610px;
    height: auto;
  }

  .contact--section {
    background: none;
    display: flex;
    margin: 70px 0;
    padding: 64px 24px;
    justify-content: center;
    text-align: center;
    background-image:
      url(./assets/back-img/illustration-1-contact-form-desktop@2x.png),
      url(./assets/back-img/illustration-2-contact-form-desktop@2x.png),
      url(./assets/back-img/contact\ form-illustratoin-3-desktop@2x.png);
    background-position: left 90%, 20% bottom, right bottom;
    background-size: 8%;
    background-repeat: no-repeat;
    padding-bottom: 40px;
  }

  .desk--contact--section {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: left;
    flex-direction: column;
    row-gap: 24px;
  }

  .desk--input--section {
    color: #6b778c;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    width: 363px;
    height: 48px;
  }

  .email--desk--section {
    color: #6b778c;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    width: 730px;
    height: 48px;
  }

  .desk--text--area {
    width: 730px;
    font-size: 16px;
    height: 114px;
    padding: 12px;
    color: #091e42;
    border: 1px solid #60c095;
    border-radius: 4px;
  }

  .footer--section--icons {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .footer--social--icons {
    display: flex;
    padding: 12px;
    margin: 0;
    text-align: center;
    justify-content: center;
    gap: 24px;
  }

  .footer--section {
    border-top: solid;
    border-top-color: #e5e5e5;
  }
}
