
@media (min-width: 992px) {
  *,
  ::before,
  *::after {
    box-sizing: border-box;
    overflow: hidden;
  }

  html {
    overflow-y: scroll;
  }

  .recent--work--title img,
  .contact--ul--section,
  .contact--section,
  .contact--section--icons,
  .mail,
  .humburger,
  .logo {
    display: none;
  }

  .header--section {
    position: fixed;
    margin: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: auto;
    background: #fff;
    justify-content: center;
    padding: 10px 24px;
  }

  .nav-menu {
    display: flex;
    gap: 24px;
    padding: 10px 24px;
  }

  .nav-link {
    display: flex;
  }

  .nav-link a:hover {
    background-color: rgb(235, 250, 237);
    border: none;
    border-radius: 4px;
    color: #049c5d;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  h1 {
    font-size: 48px;
    text-align: center;
    line-height: 52px;
    margin: 0;
  }

  .main--container {
    width: 100%;
    height: auto;
  }

  .main--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 130vh;
    background: none;
    align-items: center;
    padding-bottom: 70px;
    background-image: url(./assets/back-img/Header-llustration-desktop@2x.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .arrow--icons {
    margin-top: 90px;
    padding: 0;
  }

  .section--title {
    margin: 0;
    padding: 0;
  }

  .recent--work--section,
  .about--me--section {
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 52px;
    margin: 0;
  }

  .section--title h1,
  .recent--work--title h1,
  .about-title h1 {
    margin: 30px;
    letter-spacing: 0.37px;
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
    overflow: hidden;
  }

  .paragraphe {
    text-align: center;
    justify-content: center;
    font-size: 22px;
    width: 920px;
    line-height: 32px;
    margin: 0 auto;
    padding: 0;
  }

  .paragraphe p {
    text-align: center;
    justify-content: center;
    padding: 12px;
  }

  .social--icons li {
    padding: 0;
    margin-right: 0;
    font-size: 17px;
    width: 50px;
    height: auto;
  }

  .main--works--section {
    display: grid;
    width: calc(992px + 474px + 24px);
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }

  .main--frames--section {
    display: grid;
    grid-template-columns: 369px 369px 369px;
    grid-gap: 24px;
    width: auto;
    text-align: center;
    margin: 0 auto;
  }

  .card--section {
    margin: 0;
    width: 474px;
    height: auto;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .image--container:hover {
    background-color: rgb(102, 161, 102);
    opacity: 0.2;
    transition: all 0.3s ease-in-out;
  }

  .intro--section {
    text-align: center;
    justify-content: center;
    padding: 84px;
    margin: 0;
    width: 100%;
  }

  .about-title {
    margin: 0;
    padding-top: 60px;
  }

  .about--me--section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    background: none;
    background-image:
      url(./assets/back-img/illustration-left-about-me-2-desktop@2x.png),
      url(./assets/back-img/illustration-right-about\ me-1-desktop@2x.png);
    background-position: left 27%, right 3%;
    background-size: 11%;
    background-repeat: no-repeat;
  }

  .frame--work--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 369px;
    height: 100%;
    margin: 0;
    border: 1px solid #d0d9d4;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .frame--container {
    overflow: hidden;
  }

  .see--project button {
    color: #fff;
    padding: 0 12px;
    height: 40px;
    width: 122px;
  }

  .contact--intro {
    margin-right: 20px;
    padding: 0;
  }

  .contact--intro h1 {
    padding: 0;
    margin-top: 125px;
    color: #172b4d;
    font-size: 30px;
    line-height: 52px;
    font-weight: bold;
    width: 610px;
    height: auto;
  }

  .contact--section {
    background: none;
    display: flex;
    margin: 70px 0;
    padding: 64px 24px;
    justify-content: center;
    text-align: center;
    background-image:
      url(./assets/back-img/illustration-1-contact-form-desktop@2x.png),
      url(./assets/back-img/illustration-2-contact-form-desktop@2x.png),
      url(./assets/back-img/contact\ form-illustratoin-3-desktop@2x.png);
    background-position: left 90%, 20% bottom, right bottom;
    background-size: 8%;
    background-repeat: no-repeat;
    padding-bottom: 40px;
  }

  .desk--contact--section {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: left;
    flex-direction: column;
    row-gap: 24px;
  }

  .desk--input--section {
    color: #6b778c;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    width: 730px;
    height: 48px;
  }

  .email--desk--section {
    color: #6b778c;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    width: 730px;
    height: 48px;
  }

  .desk--text--area {
    width: 730px;
    font-size: 16px;
    height: 114px;
    padding: 12px;
    color: #091e42;
    border: 1px solid #60c095;
    border-radius: 4px;
  }

  .footer--section--icons {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .footer--social--icons {
    display: flex;
    justify-content: center;
    padding: 12px;
    margin: 0 auto;
    text-align: center;
    gap: 24px;
  }

  .footer--section {
    border-top: solid;
    border-top-color: #e5e5e5;
  }
}
